
@font-face {
  font-family: 'retro_gamingregular';
  src: url('../public/fonts/retro_gaming-webfont.woff2') format('woff2'),
       url('../public/fonts/retro_gaming-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

* {
  margin: 0;
}

body {
  height: 100vh;
  background-image: url("../public/battlebugzbackground.png");
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App-header {
  font-family: 'retro_gamingregular';
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vh;
  width: 100vw;
}

.headerImage {
  width: 100%;
  height: 100%;
}

.startModal {
  background-color: #649C31;
  font-family: 'retro_gamingregular';
  width: 60vw;
  padding: 3rem ;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #A62349;
  gap: 1rem;
}

.bugContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.bug {
  height: 3rem;
}

.gameArea {
  display: flex;
  gap: 3rem;
  align-items: center;
justify-content: center;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.playerBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 30vw;
  height: 30vw;
  grid-column-gap: 1px;
  background-color: black;
  border: 1px solid black;
}
.computerBoard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-column-gap: 1px;
  width: 30vw;
  height: 30vw;
  background-color: black;
  border: 1px solid black;
}

.playerSquare {
  width: 100%;
  height: 10%;
  background-color: #649C31;
}

.playerSquare.Hit {
  content: url('../public/1splat.png');
  background-size: cover;
}

.playerSquare.Miss {
  background-color: red;
}


.hoverSquare {
  width: 100%;
  height: 100%;
  background-color: aquamarine;
}

.computerSquare {
  background-color: #649C31;
  width: 100%;
  height: 10%;
}

.computerSquare.Hit {
  background-image: url('../public/1splat.png');
  background-size: cover;
}

.computerSquare.Miss {
  background-color: red;
}

.computerSquare.Sunk {
  background-color: blue;
}

.boardContainer {
  display: flex;
  gap: 3rem;
}

.gameOver {
  background-color: black;
  counter-reset: white;
  width: 300px;
  height: 300px;
  position: absolute;
  top: 50;
  left: 50;
}

.Caterpillar-0,
.Caterpillar-1,
.Caterpillar-2,
.Caterpillar-3,
.Caterpillar-4 {
  background-image: url("../public/caterpillar.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Caterpillar-0 {
  background-position: 0%;
}
.Caterpillar-1 {
  background-position: 25%;
}
.Caterpillar-2 {
  background-position: 50%;
}
.Caterpillar-3 {
  background-position: 75%;
}
.Caterpillar-4 {
  background-position: 100%;
}

.Wasp-0,
.Wasp-1,
.Wasp-2,
.Wasp-3 {
  background-image: url("../public/wasp.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Wasp-0 {
  background-position: 0%;
}
.Wasp-1 {
  background-position: 33.33%;
}
.Wasp-2 {
  background-position: 66.66%;
}
.Wasp-3 {
  background-position: 99.99%;
}

.Grasshopper-0,
.Grasshopper-1,
.Grasshopper-2 {
  background-image: url("../public/grasshopper.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Grasshopper-0 {
  background-position: 0%;
}
.Grasshopper-1 {
  background-position: 50%;
}
.Grasshopper-2 {
  background-position: 100%;
}

.Ant-0,
.Ant-1,
.Ant-2 {
  background-image: url("../public/ant.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Ant-0 {
  background-position: 0%;
}
.Ant-1 {
  background-position: 50%;
}
.Ant-2 {
  background-position: 100%;
}

.Ladybug-0,
.Ladybug-1 {
  background-image: url("../public/ladybug.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Ladybug-0 {
  background-position: 0%;
}
.Ladybug-1 {
  background-position: 100%;
}

.vertical {
  transform: rotate(90deg);
}

.activeBug {
  animation: .5s infinite alternate shrink-and-grow;
}

.highlighted {
  background-color: aquamarine;
}

@keyframes shrink-and-grow {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}